body {
    font-family: Consolas, monaco, monospace;
}

ul li {
    margin-bottom: 0.5em;
}

.step {
    line-height: 1.25em;
    font-size: 24px;
    text-align: center;
    border-radius: 5px;
    color: #333;
}

.timeline-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    position: relative;
}

.content-box {
    display: flex;
    align-items: center;    
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 5px;
    border: 1px solid #ccc;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    padding: 3em;
    width: 800px;
    height: 494px;    
}

.content-box.below {
    margin-top: 10px;
    text-align: left;
}

.content-box.below h1, h2 {
    line-height: 1.5em;
    margin: 0px;
    font-size: 1.2em;
}

img.eoepca {
    width: 900px;
    height: 508px;
}

.timeline-year {
    font-size: 36px;
    font-weight: bold;
    margin-bottom: 50px;
    margin-top: 50px;
}

.timeline-step:after {
    content: "";
    position: absolute;
    width: 1200px;
    height: 1px;
    background-color: #000;
    top: 0%;
    left: 50%;
    z-index: -1;
}
  
.timeline-step:last-child:after {
  content: none;
}
