body {
    font-family: Arial, sans-serif;
}

ul li {
    margin-bottom: 0.5em;
}

.step {
    line-height: 1.15em;
    font-size: 12px;
    text-align: center;
    border-radius: 5px;
    color: #333;
}

.timeline-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    position: relative;
}

.content-box {
    display: flex;
    align-items: center;    
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 5px;
    border: 1px solid #ccc;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    padding: 3em;
    width: 400px;
    height: 247px;    
}

.content-box.above {
    margin-bottom: 10px;
}

.content-box.below {
    margin-top: 10px;
}

.timeline-year {
    font-size: 36px;
    font-weight: bold;
    margin-bottom: 50px;
    margin-top: 50px;
}

.timeline-step:after {
    content: "";
    position: absolute;
    width: 1000px;
    height: 1px;
    background-color: #000;
    top: 250%;
    left: -100%;
    z-index: -1;
}
  
.timeline-step:last-child:after {
  content: none;
}
